{% extends 'prayers/layout.html' %}

{% block title %}Say thy blasphemy{% endblock %}

{% block contents %}
<div class='features'>
    {% if user.is_authenticated %}
        <h1>Say thy blasphemy, {{user.title}} {{user.first_name}}!</h1>
    {% else %}
        <h1>Say thy blasphemy, Stranger!</h1>
    {% endif %}

    <hr>

    <p><strong>Prayer: </strong>{{prayer.titulum}} <br> <strong>Text: </strong>{{prayer.oratio}} </p><br>    
</div>
    

<form method="post" action="">
    {% csrf_token %}
    {% if user.is_authenticated %}
    
        <input type="hidden" name='name' value="{{user.title}} {{user.first_name}} of {{user.city_of_origin}}">
        
        {{ form.text }} <br>

    {% else %}
    
        {{ form.name }} <br>
        {{ form.text }} <br>
    
    {% endif %}
    
    <button type="submit" class="btn btn-success"><i class="fas fa-praying-hands"></i> Post</button>
</form>    

{% endblock %}