{% extends 'prayers/layout.html' %}

{% block title %}Prayers{% endblock %}

{% block contents %}
<div class="features">  
    <hr>  
    {% for prayer in prayers %}        

        <strong><p>This prayer was posted on {{ prayer.publicatio|date:"l, " }}the{{ prayer.publicatio|date:" dS " }}day of{{ prayer.publicatio|date:" F, " }}Anno Domini {{prayer.publicatio|date:"Y, H:i:s" }} by <a href=" {% url 'profile' pk=prayer.poster.id %} "><img src="{{ prayer.poster.userpic.url }}" height="30"> {{ prayer.poster.full_address }}</a>.</p></strong>
        <strong>Amens said  -- {{ prayer.count_amens }} </strong>
        <h1>{{ prayer.titulum }}</h1>
        <p>{{ prayer.oratio|linebreaksbr }}</p>        
        
        <hr>
        
        
        {% if user.is_authenticated %}            
            
            {% if prayer.id in amenned_prayers %}
            
                <a href=" {% url 'amen' pk=prayer.id %} "><button class="btn btn-primary"><span class="fas fa-ankh"></span> Unsay "AMEN"</button></a>
            
            {% else %}
                
                <a href=" {% url 'amen' pk=prayer.id %} "><button class="btn btn-success"><span class="fas fa-dove"></span> Utter "AMEN"</button></a> 
            
            {% endif %}
        
        {% else %}
            
            <small><a href=" {% url 'login' %} ">Login</a> to say AMEN.</small>
        
        {% endif %}

        <a href=" {% url 'comment' pk=prayer.id %} "><button class="btn btn-warning"><span class="glyphicon glyphicon-hand-up"></span> Say thy blasphemy</button></a>
        
        {% if prayer.poster.id == user.id %}                
        
            <a href=" {% url 'edit_prayer' pk=prayer.id %} "><button class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit thy prayer</button></a>
            <a href=" {% url 'delete_prayer' pk=prayer.id %} "><button class="btn btn-danger"><span class="glyphicon glyphicon-fire"></span> Burn thy prayer</button></a>
        
        {% endif %}        
        
        <hr>
        <strong>Blasphemies said: {{ prayer.comments.all.count }}</strong>
        {% if prayer.comments.all.count != 0 %}
        <details><summary><i class="fas fa-eye"></i> Click here to view blasphemies <i class="fas fa-eye"></i></summary>

            {% for comment in prayer.comments.all %}
                <table>
                    <tr>
                        <td><strong>{{ comment.name }}</strong> blasphemed on {{ comment.publicatio|date:"l, " }}the{{ comment.publicatio|date:" dS " }}day of{{ comment.publicatio|date:" F, " }}<br>Anno Domini {{comment.publicatio|date:"Y, H:i:s" }} and spake thusly:</td>
                    </tr>
                    <tr>
                        <td><h3>{{ comment.text|linebreaksbr }}</h3></td>
                    </tr>                
                </table>

            {% endfor %}
                        
        </details>   
        {% endif %}
        <hr>     
    {% endfor %}
</div>
{% endblock %}

